.chose:hover {background-color: #f2f2f2;
color: #333;}
body{
    overflow-x: hidden;
}
.footer{
    text-align: center;
    position: fixed;
    margin-left: -10px;
    margin-right: -10px;
    background-color: #333;
    z-index: 1;
    bottom: 0;
    text-decoration: none;
    color:#f2f2f2;
}

.photo_me{
    border-radius: 50%;
    max-width: 250px;
    position: relative;
    clip-path: circle();
    flex-direction: column;
    object-fit: cover;
    object-position: 35% 20%;
}

@media only screen and (min-width: 800px) and (min-height:400px){
    .info{
        position: static;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        position: absolute;
    }
    
    .stuff{

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        position: absolute;
        padding-top: 20px;
    }


    .left{left:0}

    .right{right:0}
    
    .split{
        height: 80%;
        width: 50%;
        position: fixed;
        padding-top: 20px;
    }

    .divider{
        border-left: 1px;
        border-image: linear-gradient(to bottom, #333, #f2f2f2) 1 100%;
        border-style: solid;
        position: fixed;
        left: 50%;
        top: 20%;
        height: 400px;
    }
}



.navabar  {
    text-align: center;
    position: sticky;
    margin-top: -20px;
    margin-left: -10px;
    margin-right: -10px;
    background-color: #333;
    z-index: 1;
    top: 0;
}

.chose  {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    font: "Lucida Console";
    text-decoration: none;
    color:#f2f2f2;
}




.name{
    font-size: 30px;
    font: "Lucida Console";
    font-weight: bold;
}

.title{
    font-size: 20px;
    font: "Lucida Console";
}

.page{
    font-size: 30px;
    font: "Lucida Console";
    font-weight: bold;
    text-decoration: underline;
}

.row{
    vertical-align: middle;
    display: inline-block;
    text-align: center;
}
.column{
    vertical-align: middle;
    display: inline-block;
    text-align: center;
}

.row{
    vertical-align: middle;
    display: inline-block;
    text-align: center;
}
.column{
    vertical-align: middle;
    display: inline-block;
    text-align: left;
}

.info{
    top: 50%;
    left: 50%;
    text-align: center;
}

.stuff{
    top: 50%;
    left: 50%;
    text-align: center;
}

table{
    margin-left: auto;
    margin-right: auto;
}

ul{
    list-style-position: inside;
    text-align: left;
    margin-left: 30px;
}
td{
    text-align: left;
    padding-left: 10px;
}
th{
    text-align: left;
    padding-left: 10px;
}

tr{
    text-align: left;
}

    .divider{
        border-bottom: 1px;
        border-style: solid;
        left: 50%;
        margin: 30px;
    }
